openapi: 3.2.0
info:
  title: Toro Equipment API
  version: 1.0.0
  x-refined-note:
  - x-logo differs across the merged source definitions and was not carried
  description: 'Operations tagged Equipment across 2 of this provider''s published API definitions: toro-horizon360-openapi.yml, toro-intellidash-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.horizon360.toro.com/v1
  description: Horizon360 Production API
- url: https://api.intellidash.toro.com/v1
  description: IntelliDash Production API
tags:
- name: Equipment
  description: Track and manage landscaping equipment
paths:
  /equipment:
    get:
      operationId: listEquipment
      summary: List Equipment
      description: Returns a paginated list of equipment in the fleet.
      tags:
      - Equipment
      parameters:
      - name: status
        in: query
        schema:
          type: string
          enum:
          - active
          - maintenance
          - retired
      - name: type
        in: query
        schema:
          type: string
        description: Filter by equipment type
      - name: page
        in: query
        schema:
          type: integer
          default: 1
      - name: limit
        in: query
        schema:
          type: integer
          default: 25
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquipmentList'
      security:
      - bearerAuth: []
    post:
      operationId: addEquipment
      summary: Add Equipment
      description: Add a new piece of equipment to the fleet.
      tags:
      - Equipment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EquipmentInput'
      responses:
        '201':
          description: Equipment added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Equipment'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.horizon360.toro.com/v1
      description: Horizon360 Production API
  /equipment/{equipmentId}:
    get:
      operationId: getEquipment
      summary: Get Equipment
      description: Retrieve details for a specific piece of equipment.
      tags:
      - Equipment
      parameters:
      - name: equipmentId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Equipment'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.horizon360.toro.com/v1
      description: Horizon360 Production API
  /equipment/{equipmentId}/location:
    get:
      operationId: getEquipmentLocation
      summary: Get Equipment Location
      description: Returns the current GPS location of a specific piece of equipment.
      tags:
      - Equipment
      parameters:
      - name: equipmentId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquipmentLocation'
      security:
      - apiKeyAuth: []
    servers:
    - url: https://api.intellidash.toro.com/v1
      description: IntelliDash Production API
components:
  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    EquipmentInput:
      type: object
      required:
      - name
      - type
      properties:
        name:
          type: string
        type:
          type: string
        brand:
          type: string
        model:
          type: string
        serialNumber:
          type: string
        purchaseDate:
          type: string
          format: date
    Equipment:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        brand:
          type: string
        model:
          type: string
        serialNumber:
          type: string
        status:
          type: string
          enum:
          - active
          - maintenance
          - retired
        purchaseDate:
          type: string
          format: date
        lastServiceDate:
          type: string
          format: date
        nextServiceDate:
          type: string
          format: date
        hoursUsed:
          type: number
    EquipmentList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Equipment'
        total:
          type: integer
        page:
          type: integer
        limit:
          type: integer
    EquipmentLocation:
      type: object
      properties:
        equipmentId:
          type: string
        location:
          $ref: '#/components/schemas/GeoLocation'
        speed:
          type: number
          description: Current speed in mph
        heading:
          type: integer
          description: Heading in degrees
        timestamp:
          type: string
          format: date-time
    GeoLocation:
      type: object
      properties:
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        altitude:
          type: number
    Alert:
      type: object
      properties:
        type:
          type: string
        severity:
          type: string
          enum:
          - info
          - warning
          - critical
        message:
          type: string
        timestamp:
          type: string
          format: date-time
    FleetEquipment:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        model:
          type: string
        serialNumber:
          type: string
        status:
          type: string
          enum:
          - active
          - maintenance
          - offline
        engineHours:
          type: number
        lastServiceHours:
          type: number
        nextServiceHours:
          type: number
        batteryLevel:
          type: integer
          description: Battery percentage for electric equipment
        fuelLevel:
          type: integer
          description: Fuel percentage
        location:
          $ref: '#/components/schemas/GeoLocation'
        alerts:
          type: array
          items:
            $ref: '#/components/schemas/Alert'
    FleetEquipmentList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/FleetEquipment'
        total:
          type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
x-refined-from:
- toro-horizon360-openapi.yml
- toro-intellidash-openapi.yml
