openapi: 3.2.0
info:
  title: Toro IntelliDash Irrigation API
  description: Toro IntelliDash is an irrigation and fleet management platform for golf courses and sports facilities. The API provides access to real-time irrigation control, equipment fleet tracking, agronomic data, and operational monitoring for golf course superintendents and sports turf managers.
  version: 1.0.0
  contact:
    name: Toro Company
    url: https://www.toro.com/en/product/IntelliDash
servers:
- url: https://api.intellidash.toro.com/v1
  description: IntelliDash Production API
security:
- apiKeyAuth: []
tags:
- name: Irrigation
  description: Control and monitor irrigation systems
paths:
  /irrigation/status:
    get:
      operationId: getIrrigationStatus
      summary: Get Irrigation Status
      description: Returns the current status of all irrigation systems and controllers.
      tags:
      - Irrigation
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IrrigationStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /irrigation/zones:
    get:
      operationId: listIrrigationZones
      summary: List Irrigation Zones
      description: Returns all defined irrigation zones and their current configuration.
      tags:
      - Irrigation
      parameters:
      - name: status
        in: query
        schema:
          type: string
          enum:
          - active
          - inactive
          - watering
        description: Filter zones by status
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneList'
  /irrigation/zones/{zoneId}:
    get:
      operationId: getIrrigationZone
      summary: Get Irrigation Zone
      description: Returns details for a specific irrigation zone.
      tags:
      - Irrigation
      parameters:
      - name: zoneId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Zone'
        '404':
          $ref: '#/components/responses/NotFound'
  /irrigation/zones/{zoneId}/start:
    post:
      operationId: startIrrigation
      summary: Start Irrigation
      description: Manually start irrigation for a specific zone.
      tags:
      - Irrigation
      parameters:
      - name: zoneId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                duration:
                  type: integer
                  description: Duration in minutes
                  minimum: 1
                  maximum: 120
      responses:
        '200':
          description: Irrigation started
  /irrigation/zones/{zoneId}/stop:
    post:
      operationId: stopIrrigation
      summary: Stop Irrigation
      description: Stop active irrigation for a specific zone.
      tags:
      - Irrigation
      parameters:
      - name: zoneId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Irrigation stopped
components:
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    Zone:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum:
          - active
          - inactive
          - watering
        wateringDurationMinutes:
          type: integer
        lastWateredAt:
          type: string
          format: date-time
        nextScheduledAt:
          type: string
          format: date-time
        soilMoisture:
          type: number
          description: Soil moisture percentage
        flowRateGpm:
          type: number
          description: Flow rate in gallons per minute
    IrrigationStatus:
      type: object
      properties:
        systemStatus:
          type: string
          enum:
          - normal
          - watering
          - suspended
          - fault
        activeZones:
          type: integer
        totalZones:
          type: integer
        weatherHold:
          type: boolean
        lastUpdated:
          type: string
          format: date-time
    ZoneList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Zone'
        total:
          type: integer
  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
