openapi: 3.2.0
info:
  title: Toro IntelliDash Sensors API
  description: Toro IntelliDash is an irrigation and fleet management platform for golf courses and sports facilities. The API provides access to real-time irrigation control, equipment fleet tracking, agronomic data, and operational monitoring for golf course superintendents and sports turf managers.
  version: 1.0.0
  contact:
    name: Toro Company
    url: https://www.toro.com/en/product/IntelliDash
servers:
- url: https://api.intellidash.toro.com/v1
  description: IntelliDash Production API
security:
- apiKeyAuth: []
tags:
- name: Sensors
  description: Environmental and soil sensor data
paths:
  /sensors:
    get:
      operationId: listSensors
      summary: List Sensors
      description: Returns all environmental and soil sensors and their latest readings.
      tags:
      - Sensors
      parameters:
      - name: type
        in: query
        schema:
          type: string
          enum:
          - soil_moisture
          - weather
          - temperature
          - light
        description: Filter by sensor type
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SensorList'
  /sensors/{sensorId}/readings:
    get:
      operationId: getSensorReadings
      summary: Get Sensor Readings
      description: Returns historical readings for a specific sensor.
      tags:
      - Sensors
      parameters:
      - name: sensorId
        in: path
        required: true
        schema:
          type: string
      - name: startDate
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: interval
        in: query
        schema:
          type: string
          enum:
          - 15min
          - 1hour
          - 1day
          default: 1hour
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SensorReadingList'
components:
  schemas:
    SensorReadingList:
      type: object
      properties:
        sensorId:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/SensorReading'
    GeoLocation:
      type: object
      properties:
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        altitude:
          type: number
    SensorReading:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        value:
          type: number
        unit:
          type: string
    SensorList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Sensor'
    Sensor:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
          enum:
          - soil_moisture
          - weather
          - temperature
          - light
        location:
          $ref: '#/components/schemas/GeoLocation'
        status:
          type: string
          enum:
          - active
          - offline
          - fault
        lastReading:
          $ref: '#/components/schemas/SensorReading'
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
